/*.png
/*.txt
/examples/xhunter/xhunter/
/examples/xlove_token/xlove_token/
/examples/xhos/xhos/
/examples/xhuihui/xhuihui/
/examples/xjiangshi/xjiangshi/
/examples/xscourge/xscourge/
/others/
/tools/
/.idea/
*.pyc
*.drawio
__pycache__
暗黑地牢.md
temp/
/examples/*/*/*/*.skel
/examples/*/*/*/*.atlas
/examples/*/*/*/*.png
/examples/*/*/*.png
/examples/*/*/*.wav
/examples/*/*/*.bank
/examples/*/*/*.fsb
