/*.png
/*.txt
/examples/xhunter/xhunter/
/examples/xstress/xstress
/examples/article/
/examples/xlove/xlove/
/examples/xhos/
/examples/xhuihui/
/examples/xjiangshi/
/examples/xscourge/xscourge/
/examples/test/
/others/
/tools/
/.idea/
*.pyc
*.drawio
__pycache__
暗黑地牢.md
temp/
/examples/*/*/*/*.skel
/examples/*/*/*/*.atlas
/examples/*/*/*/*.png
/examples/*/*/*/*.json
/examples/*/*/*.png
/examples/*/*.png
/examples/*/*/*.wav
/examples/*/*/*.bank
/examples/*/*/*.fsb
